/* main */

body {
   background-color: #111111;
   color: #BBBBBB;
}

div#outer {
   border-bottom: 2px solid #808080;   
   height: 30px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   width: 100%;
   background-color: #111111;
}

div#header {
   margin: 0 auto;
   padding: 0px 20px;
   min-width: 1000px;
   max-width: 1200px;
}

div#heading {
   float: left;
   padding: 6px 0;
}

nav ul {
   float: right;
   list-style-type: none;
   margin: 6px auto;
   padding: 0;
}

nav li {
   display: inline;
}

nav a {
   color: #808080;
   text-decoration: none;
   padding: 5px;
}

nav a:hover {
   color: #CDCDCD;
   border-bottom: 2px solid #CDCDCD;
}

nav a.active {
   color: #43CD0C;
   border-bottom: 2px solid #43CD0C;
}

nav a.external {
   padding-right: 15px;
   margin-right: 5px;
   background-image: url("../img/external.png");
   background-position: right 45%;
   background-repeat: no-repeat;
}

nav a.external:hover {
   color: #0D56CD;
   border-bottom: 2px solid #0D56CD;
}

div#main {
   margin: 20px auto 0 auto;
   padding: 10px;
   min-width: 1000px;
   max-width: 1200px;
}

.small {
   font-size: 50%;
}
